*{margin:0;}
.cle:after{visibility:hidden; display:block; font-size:0; content:'\20'; clear:both; height:0;}
.clear { clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
.cle:after, .clearfix:after, .clear_f:after, .cle_float:after { visibility: hidden; display: block; font-size: 0; content: '\20'; clear: both; height: 0; }
.cle, .clearfix, .clear_f, .cle_float { *zoom: 1 }
.lf { float: left; }
.lr { float: right; }
.clearfix { clear: both; }

.panel-header,.panel-body {border-color: #D4D4D4;}
.panel-header {
    background-color: #F2F2F2;
    background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -o-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#F2F2F2,GradientType=0);
}
.datagrid-toolbar, .datagrid-pager {background: #fafafa;}
#search {
    border-color: #D4D4D4;
    border-radius: 0;
    width:250px;
    margin-top:10px;
}
#search .searchbox{
	border-color: #D4D4D4;
    border-radius: 0;
    width:250px;
}
.searchbox span.l-btn-left{border:1px solid transparent;}
#tool{padding: 5px 0 5px 10px}
.toolbtn{margin-right: 10px;}
.l-btn-left {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
}
#tool input{height:20px;line-height: 20px;}
.combo {
    border-color: #ccc;
    height: 20px;
    line-height: 20px;
}
.layout-split-west {border-right: 5px solid #d4d4d4;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { text-align: center }
.addcontent,.editcontent{padding: 10px;}
.addcontent table tr,.editcontent table tr{height: 30px;line-height: 30px;}
.addcontent .tt,.editcontent .tt{width: 80px;font-size: 16px;text-align:left;}
.window {
 	background-color: #F2F2F2;
    background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -o-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#F2F2F2,GradientType=0);
}
.window, .window .window-body {border-color:#D4D4D4;}
.window .panel-footer {border: 1px solid #D4D4D4;}
.window-proxy {border: 1px dashed #D4D4D4;}
.window .window-body {border-color: #D4D4D4;}
.dialog-button {border-color: #dddddd;}
.dialog-button .l-btn-left {
    border:0;
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
}
.cc{margin-top: 10px;}

.a{
	height: 34px;
    line-height: 40px;}
.a input{width: 20px;vertical-align: text-top;}