<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjkj.qjcsp.mapper.TblCustomerDiscountEveryMapper" >
                   
  <select id="findByCount" parameterType="map" resultType="java.lang.Long">
  	SELECT
  		count(1)	
  	FROM tbl_customer_order_dis_log l
  	LEFT JOIN tbl_customer c ON l.customer_id = c.customer_id
  	LEFT JOIN tbl_order o ON l.order_num = o.order_num
  	WHERE 1 = 1

  		<if test="orderNum != null and orderNum != '' ">
  			AND o.order_num like '%${orderNum}%'
  		</if>
  		<if test="mobile != null and mobile != '' ">
  			AND o.mobile like '%${mobile}%'
  		</if>
  		<if test="startDate != null and startDate != '' ">
  			AND <![CDATA[ UNIX_TIMESTAMP(#{startDate,jdbcType=TIMESTAMP}) <= UNIX_TIMESTAMP(o.order_time) ]]>
  		</if>
  		<if test="startDate != null and startDate != '' ">
  			AND <![CDATA[ UNIX_TIMESTAMP(#{startDate,jdbcType=TIMESTAMP}) <= UNIX_TIMESTAMP(o.order_time) ]]>
  		</if>
  		<if test="endDate != null and endDate != '' ">
  			AND <![CDATA[ UNIX_TIMESTAMP(#{endDate,jdbcType=TIMESTAMP}) >= UNIX_TIMESTAMP(o.order_time) ]]>
  		</if>
  		<if test="orderStatus != null and orderStatus != '' and orderStatus != '-1' ">
  			AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
  		</if>
	    <if test="order != null and order != ''" >
	       	ORDER by ${order} ${sort}
	    </if>
	    <if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>  		
  </select>
  
  <select id="findByList" parameterType="map" resultType="map">
   	SELECT
  		o.order_num AS orderNum, o.mobile, date_format(o.order_time, '%Y-%m-%d %H:%i:%s') AS orderTime, 
  		o.total_money AS totalMoney, o.discount_money AS discountMoney, o.real_money AS realMoney,
  		date_format(o.pay_time, '%Y-%m-%d %H:%i:%s') AS payTime, o.pay_number AS payNumber,
  		o.pay_mode AS payMode, o.order_status AS orderStatus
  			
  	FROM tbl_customer_order_dis_log l
  	LEFT JOIN tbl_customer c ON l.customer_id = c.customer_id
  	LEFT JOIN tbl_order o ON l.order_num = o.order_num
  	WHERE 1 = 1
  		<if test="orderNum != null and orderNum != '' ">
  			AND o.order_num like '%${orderNum}%'
  		</if>
  		<if test="mobile != null and mobile != '' ">
  			AND o.mobile like '%${mobile}%'
  		</if>
  		<if test="startDate != null and startDate != '' ">
  			AND <![CDATA[ UNIX_TIMESTAMP(#{startDate,jdbcType=TIMESTAMP}) <= UNIX_TIMESTAMP(o.order_time) ]]>
  		</if>
  		<if test="endDate != null and endDate != '' ">
  			AND <![CDATA[ UNIX_TIMESTAMP(#{endDate,jdbcType=TIMESTAMP}) >= UNIX_TIMESTAMP(o.order_time) ]]>
  		</if>
  		<if test="orderStatus != null and orderStatus != '' and orderStatus != '-1' ">
  			AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
  		</if>

	    <if test="order != null and order != ''" >
	       	ORDER by ${order} ${sort}
	    </if>
	    <if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>   		
  </select>

</mapper>