<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjkj.qjcsp.mapper.TblTemplateAreaModelLogMapper" >
  <resultMap id="BaseResultMap" type="com.qjkj.qjcsp.entity.TblTemplateAreaModelLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="template_area_model_id" property="templateAreaModelId" jdbcType="BIGINT" />
    <result column="operate_user_id" property="operateUserId" jdbcType="BIGINT" />
    <result column="operate_type" property="operateType" jdbcType="CHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, template_area_model_id, operate_user_id, operate_type, operate_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_template_area_model_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_template_area_model_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qjkj.qjcsp.entity.TblTemplateAreaModelLog" >
    insert into tbl_template_area_model_log (id, template_area_model_id, operate_user_id, 
      operate_type, operate_time)
    values (#{id,jdbcType=BIGINT}, #{templateAreaModelId,jdbcType=BIGINT}, #{operateUserId,jdbcType=BIGINT}, 
      #{operateType,jdbcType=CHAR}, #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qjkj.qjcsp.entity.TblTemplateAreaModelLog" >
    insert into tbl_template_area_model_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateAreaModelId != null" >
        template_area_model_id,
      </if>
      <if test="operateUserId != null" >
        operate_user_id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="templateAreaModelId != null" >
        #{templateAreaModelId,jdbcType=BIGINT},
      </if>
      <if test="operateUserId != null" >
        #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qjkj.qjcsp.entity.TblTemplateAreaModelLog" >
    update tbl_template_area_model_log
    <set >
      <if test="templateAreaModelId != null" >
        template_area_model_id = #{templateAreaModelId,jdbcType=BIGINT},
      </if>
      <if test="operateUserId != null" >
        operate_user_id = #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=CHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qjkj.qjcsp.entity.TblTemplateAreaModelLog" >
    update tbl_template_area_model_log
    set template_area_model_id = #{templateAreaModelId,jdbcType=BIGINT},
      operate_user_id = #{operateUserId,jdbcType=BIGINT},
      operate_type = #{operateType,jdbcType=CHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>