<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" /><meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/address.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/address.js"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<title>选择地址</title>
	</head>

	<body>
		<div class="top">
			<img src="../img/imagey/on.png" />
			<span>选择地址</span>

		</div>

		<div class="back">
			<div class="backim">
				<img src="../img/imagey/wawa.png" />
			</div>
			<div class="backimfom">你还没有选择地址哟～</div>
			
		<a><input name="" type="button" class="choice" value="选择地址" /></a>
			

		</div>

	</body>
</html>