<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>评价</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/goodsEvaluate.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/goodsEvaluate.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="goodsEvaluate_main">
			<ul class="goodsEvaluate_main_box">
				<!-- <li class="goods_main">
					<div class="goods_title">
						<p class="goodsName">红烧狮子头套餐饭</p>
						<p class="start"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"></p>
					</div>
					<div class="textbox_main">
						<textarea onkeyup="textbox(this);" class="textbox">请写下您的感受吧，对他人很有帮助的哦！</textarea>
						<p class='textbox_len'>还能输入<span class="len">100</span>个字</p>
						<p class="over_len">超过字数限制</p>
					</div>
				</li>
				<li class="goods_main">
					<div class="goods_title">
						<p class="goodsName">红烧狮子头套餐饭</p>
						<p class="start"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"><img src="../img/img/star1.png" alt="星星"></p>
					</div>
					<div class="textbox_main">
						<textarea onkeyup="textbox(this);" class="textbox">请写下您的感受吧，对他人很有帮助的哦！</textarea>
						<p class='textbox_len'>还能输入<span class="len">100</span>个字</p>
						<p class="over_len">超过字数限制</p>
					</div>
				</li> -->
			</ul>
			<p class='success'>
			     评价订单已提交，等待人工审核!!!
			</p>
			<div class="publishBtn">发表评价</div>
		</div>
	</body>
</html>
