<!DOCTYPE html>
<html>
	<head>
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/hongbao.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<title>红包</title>
	</head>
	<body>
		<div class="top">
			<img src="../img/images/return2.png" />
			<span>红包</span>
		</div>
		<div class="bottom">
			<div>
				<img src="../img/images/hongbao.png" />
			</div>
			<div>
				<span>您还没有任何消息呢~</span>
			</div>
		</div>
	</body>
</html>
