<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>加盟</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/join.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<h1>加入我们</h1>
		<div class="join_mian">
			<p><label>姓&nbsp;&nbsp;名</label><input class="userName"  type="text"></p>
			<p><label>手机号</label><input class="userName"  type="text"></p>
			<p><label>留&nbsp;&nbsp;言</label><textarea onkeyup="textbox(this);" class="textbox"></textarea></p>
			<div class="joinBtn">提交申请</div>
		</div>
		<!-- 底部导航  start -->
			<div class="foot">
				<ul>
					<li><a href="javascript:;"><img class="one" src="../img/img/foot_index.png" alt="首页"/><img class="two" src="../img/img/foot_indexActive.png" alt="首页"/><span>首页</span></a></li>
					<li><a href="about.html"><img class="one" src="../img/img/about_index.png" alt="关于"/><img class="two" src="../img/img/about_indexActive.png" alt="关于"/><span>关于</span></a></li>
					<li  class="active"><a href="join_in.html"><img class="one" src="../img/img/join_index.png" alt="加盟"/><img class="two" src="../img/img/join_indexActive.png" alt="加盟"/><span>加盟</span></a></li>
					<li><a href="Application.html"><img class="one" src="../img/img/apply_index.png" alt="申请"/><img class="two" src="../img/img/apply_indexActive.png" alt="申请"/><span>申请</span></a></li>
					<li><a href="javascript:;"><img class="one" src="../img/img/foot_my.png" alt="我的"/><img class="two" src="../img/img/foot_myActive.png" alt="我的"/><span>我的</span></a></li>
				</ul>
			</div>
			<!-- 底部导航  end-->
	</body>
</html>
