<!DOCTYPE html>
<html>
	<head>
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/login.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/login.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
		<title>登录</title>
	</head>
	<body>
		<div class="top">
			<div class="gunyu">个人中心</div>
			<div class="news">
				<img src="../img/images/news.png"/>	</div>
		</div>
			<div class="top_inf">
			
			<div class="login">
				<div class="circle">
					<img src="../img/images/head-portrait.png" class="member"/>
				</div>
				<div class="top-right">
					<span>
						<p class="status">匿名用户</p>
						<p class="tel">
							<em></em>
						</p>
					</span>
					<span>
					
					</span>
				</div>
				
			</div>
			
		</div>
		<div class="bottom">
		
			<div class="order">
				<div class="myOrder">
					<span class="left">
						<img src="../img/images/order.png" />
						<span>我的订单</span>
					</span>
					<span class="right">
						<span>查看全部订单</span>
						<img src="../img/images/to3.png" />
					</span>
				</div>
				<div class="orderStatus">
					<span class="waitPay">
						<img src="../img/images/waitPay.png" class="" />
						<em class="knum"></em>
						<p>待付款</p>
					</span>
					<span class="waitTake">
						<img src="../img/images/waitTake.png" class="" />
						<em class="knum"></em>
						<p>待取餐</p>
					</span>
					<span class="waitEvaluate">
						<img src="../img/images/waitEvaluate.png" class="" />
						<em class="knum"></em>
						<p>待评价</p>
					</span>
					<span class="waitRefund">
						<img src="../img/images/waitRefund.png" class=""/>
						<em class="knum"></em>
						<p>退款/售后</p>
					</span>
				</div>
			</div>
		
			<div class="opinion">
				<span class="left">
					<img src="../img/images/opinion.png" />
					<span>意见反馈</span>
				</span>
				<span class="right">
					<img src="../img/images/to3.png" />
				</span>
			</div>
			<div class="aboutUs">
				<span class="left">
					<img src="../img/images/aboutUs.png" />
					<span>关于我们</span>
				</span>
				<span class="right">
					<img src="../img/images/to3.png" />
				</span>
			</div>
			
		</div>
		<!-- 底部导航  start -->
		<div class="foot">
			<ul>
				<li><a href="index.html?live"><img class="one" src="../img/img/foot_index.png" alt="首页"/><img class="two" src="../img/img/foot_indexActive.png" alt="首页"/><span>首页</span></a></li>
				<li><a href="about.html?live"><img class="one" src="../img/img/about_index.png" alt="关于"/><img class="two" src="../img/img/about_indexActive.png" alt="关于"/><span>关于</span></a></li>
				<li><a href="join_in.html?live"><img class="one" src="../img/img/join_index.png" alt="加盟"/><img class="two" src="../img/img/join_indexActive.png" alt="加盟"/><span>加盟</span></a></li>
				<li><a href="Application.html?live"><img class="one" src="../img/img/apply_index.png" alt="申请"/><img class="two" src="../img/img/apply_indexActive.png" alt="申请"/><span>申请</span></a></li>
				<li class="active"><a href="javascript:;"><img class="one" src="../img/img/foot_my.png" alt="我的"/><img class="two" src="../img/img/foot_myActive.png" alt="我的"/><span>我的</span></a></li>
			</ul>
		</div>
		<!-- 底部导航  end-->
		
		
		
		<!--呼叫商户-->
		<div class="dialog">
			<div class="order_tel dialog_box">  <!-- 商家电话 -->
				<h4>工作时间：每天 9:00-23:00</h4>
				<a href="tel:0571-87651267">呼叫：0571-87651267？</a>
			</div>
			<div class="cancel">取消</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	
</script>