<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>微信--我的余额</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/mybalance.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mybalance.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.touchSlider.js" type="text/javascript" charset="utf-8"></script>  <!-- 滑动 -->
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="main">
		<div class="order_content">
			<div class="title">
				<a href="index.html"><img src="../img/image/return.png" alt="返回" /></a>
				我的余额
				<a href="useexplain.html"><img src="../img/image/what.jpg" alt="" class="what"></a>
			</div>
			<div class="splitLine"></div>    <!-- 分割线   -->
			<!-- 余额显示  start -->
			<div class="balancebox">
				<div class="inforbox">
					<p class="yue">当前余额</p>
					<p class="mymoney"><span>10</span>元</p>
				</div>
			</div>
			<!-- 余额显示 end-->
			<a href="javascript:void(0);" class="butok"><img src="../img/image/recharge.jpg" alt=""></a>
			<!-- 弹框提示 -->
			<div class="dialog">
				<div class="pop-up2">
					<p class="ntitle">温馨提示</p>
					<p class="ncontent">为了您的帐号安全<br/> 请设置您的支付密码</p>
					<a href="javascript:void(0);" class="cancel"></a>
					<a href="" class="shezhi"></a>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">

</script>
