<!DOCTYPE html>
<html>
	<head>
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/myRedpackets.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/myRedpackets.js"></script>
		<title>我的红包</title>
	</head>
	<body>
		<div class="top">
			<img src="../img/images/return2.png" />
			<span class="info">个人信息</span>
			<span class="myRedpackets">
				<img src="../img/images/help2.png" />
			</span>
		</div>
		<div class="count">你还有<em>4</em>个红包未使用</div>
		<div class="packet">
			
			<div class="left">
				<img src="../img/images/choose.png" />
				<span>
					&yen;<em>5</em>
				</span>
			</div>
			<div class="right">
				<p>红包</p>
				<ul>
					<li>任意消费均可使用</li>
					<li>每单仅限使用一次，最多5元</li>
					<li>2016-04-12至2016-04-22</li>
				</ul>
				<img src="../img/images/outtime.png" class="show"/>
			</div>
		</div>
		<div class="packet">
			<div class="left">
				<span>
					&yen;<em>5</em>
				</span>
			</div>
			<div class="right">
				<p>红包</p>
				<ul>
					<li>任意消费均可使用</li>
					<li>每单仅限使用一次，最多5元</li>
					<li>2016-04-12至2016-04-22</li>
				</ul>
				<img src="../img/images/outtime.png"/>
			</div>
		</div>
		<div class="packet">
			<div class="left">
				<span>
					&yen;<em>5</em>
				</span>
			</div>
			<div class="right">
				<p>红包</p>
				<ul>
					<li>任意消费均可使用</li>
					<li>每单仅限使用一次，最多5元</li>
					<li>2016-04-12至2016-04-22</li>
				</ul>
				<img src="../img/images/outtime.png" />
			</div>
		</div>
		<div class="packet">
			<div class="left">
				<span>
					&yen;<em>5</em>
				</span>
			</div>
			<div class="right">
				<p>红包</p>
				<ul>
					<li>任意消费均可使用</li>
					<li>每单仅限使用一次，最多5元</li>
					<li>2016-04-12至2016-04-22</li>
				</ul>
				<img src="../img/images/outtime.png" />
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
		$(document).ready(function(){
			toggle();
		})
	</script>
</html>
