<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>微信--支付密码/余额</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/paypassword.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/paypassword.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.touchSlider.js" type="text/javascript" charset="utf-8"></script>  <!-- 滑动 -->
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="main">
		<div class="order_content">
			<div class="title">
				<a href="index.html"><img src="../img/image/return.png" alt="返回" /></a>
				充值
			</div>
			<div class="splitLine"></div>    <!-- 分割线   -->
			<!-- 全力加载中-->
			<div class="loading none">
				<img src="../img/image/loading.gif" alt="" class="loadingimg">正在全力加载中...
			</div>
			<!-- 全力加载中-->

			<!-- 没有找到数据源 start -->
			<div class="loading loadend none">
				<img src="../img/image/nofind.jpg" alt="" class="nofind">
				<p class="titinfo">还没有找到数据源，请稍后<a href="">点击重试</a></p>
			</div>
			<!-- 没有找到数据源 end -->
			
			<!-- 充值 start-->
			<div class="loading loadend">
				<p class="choosewhich">选择充值面额</p>
				<ul class="mianzhi" id="mianzhi">
					<!-- <li class="mianzhili">
						<p>120元</p>
						<span>售价100元</span>
					</li>
					<li class="mianzhili">
						<p>250元</p>
						<span>售价200元</span>
					</li>
					<li class="mianzhili">
						<p>400元</p>
						<span>售价300元</span>
					</li> -->
				</ul>
			</div>
			<!-- 充值 end-->

			<p class="lititle">选择支付方式</p>
			<!-- 选择支付方式  start -->
			<div class="choosepay">
				<ul class="chooseul">
					<li class="chooseli" payMode="2">
						<img src="../img/image/logo1.jpg" alt="" class="logoimg">
						<p class="payname">微信支付</p>
						<p class="payinfo">推荐已安装微信客户端的用户使用</p>
						<p class="chooseone"></p>
					</li>
					<li class="chooseli" payMode="1">
						<img src="../img/image/logo2.jpg" alt="" class="logoimg">
						<p class="payname">支付宝支付</p>
						<p class="payinfo">推荐已安装支付宝客户端的用户使用</p>
						<p class="chooseone"></p>
					</li>
				</ul>
			</div>
			<!-- 选择支付方式 end-->
			<a href="javascript:void(0);" class="butok"><img src="../img/image/butok.jpg" alt=""></a>
		</div>
	</body>
</html>
<script type="text/javascript">

</script>