<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>微信--支付成功</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/pay.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="success_content">
			<div class="title"><a href="index.html"><img src="../img/img/return.png" alt="返回" /></a>支付结果</div>
			<div class="success">
				<div class="successSign">
					<img src="../img/img/success.png" />
					<span>支付成功</span> 0
				</div>
				<ul>
					<li><span>订单号码</span><em>1234567895</em></li>
					<li><span>手机号码</span><em>15858487750</em></li>
					<li><span>取单数量</span><em>3份</em></li>
					<li><span>订单总价</span><em>&#165;45</em></li>
				</ul>
				<div class="payBtn">查看订单</div>  <!-- 确认支付 -->
				<div class="success_return">
					<img class="house" src="../img/img/successReturn.png" />
					<span>返回首页</span>
					<img class="returenRight" src="../img/img/returnright.png" />
				</div>
			</div>
		</div>
	</body>
</html>
