<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/refund.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/refund.js"></script>
		
		<title>退款</title>
	</head>

	<body>
		<!--退款原因填写弹窗-->
		<div class="txtk">
			<div class="txtk_k">
				<div class="txtk_kz">温馨提示</div>
				<div class="txtk_kzz">请填写您的退款原因</div>
				<div class="txtk_kzzz">知道了</div>
			</div>
		</div>
		<!--提示选择退款原因弹窗-->
		<div class="tstk">
			<div class="tstk_k">
				<div class="tstk_kz">温馨提示</div>
				<div class="tstk_kzz">请选择您的退款原因</div>
				<div class="tstk_kzzz">知道了</div>
			</div>
		</div>
		<!--提示选择退订弹窗-->
		<div class="tsxz">
			<div class="tsxz_k">
				<div class="tsxz_kz">温馨提示</div>
				<div class="tsxz_kzz">请选择您申请退款的订单</div>
				<div class="tsxz_kzzz">知道了</div>
			</div>
		</div>

		<!--数据传输异常，请重试！-->
		<div class="tsyc">
			<div class="tsyc_k">
				<div class="tsyc_kz">温馨提示</div>
				<div class="tsyc_kzz">请选择您申请退款的订单</div>
				<div class="tsyc_kzzz">
					<div class="tsyc_kzzz_a">取消</div>
					<div class="tsyc_kzzz_b">重新加载</div>

				</div>
			</div>
		</div>

		<div class="top">
			<img src="../img/imagey/return2.png" />
			<span>退款</span>
			<a href="explain.html"><img src="../img/imagey/wen.png" /></a>
		</div>
        <div class="dajg"></div>
		<div class="jiange"></div>
		<div class="sure">可申请退款的订单</div>
		<div class="ameal">
			<div class="gou">
				<div class="ji"></div>
			</div>
			<div class="gous">
				<div class="gous_shang">
					<div class="gous_shangz">04-13 中餐</div>
					<div class="gous_shangy">待取餐</div>
				</div>

				<div class="gous_xia">
					<div class="gous_xiaz">红烧狮子头套餐饭</div>
					<div class="gous_shangzo">X1</div>
					<div class="gous_xiay">￥15.00</div>
				</div>

			</div>
		</div>

		<div class="ameal">
			<div class="gou">
				<div class="ji"></div>
			</div>
			<div class="gous">
				<div class="gous_shang">
					<div class="gous_shangz">04-13 中餐</div>
					<div class="gous_shangy">待取餐</div>
				</div>

				<div class="gous_xia">
					<div class="gous_xiaz">红烧狮子头套餐饭</div>
					<div class="gous_shangzo">X1</div>
					<div class="gous_xiay">￥15.00</div>
				</div>

			</div>
		</div>

		<div class="ameal">
			<div class="gou">
				<div class="ji"></div>
			</div>
			<div class="gous">
				<div class="gous_shang">
					<div class="gous_shangz">04-13 中餐</div>
					<div class="gous_shangy">待取餐</div>
				</div>

				<div class="gous_xia">
					<div class="gous_xiaz">红烧狮子头套餐饭</div>
					<div class="gous_shangzo">X1</div>
					<div class="gous_xiay">￥15.00</div>
				</div>

			</div>
		</div>

		<div class="jiange"></div>

		<div class="return">
			<div class="returnz">退还内容</div>
			<div class="returny"><img src="../img/imagey/tksm.png"></div>
		</div>
		<div class="xianjing">
			<div class="xianjinga">
				<div class="xianjingaa">现金</div>
				<div class="xianjingy">￥13.00</div>
			</div>
			<div class="xianjingx">
				<div class="xianjingxx"></div>
				<div class="xianjingxxx">退款金额为实际支付金额 （扣除红包优惠金额）
				</div>
			</div>
		</div>
		<div class="jiange"></div>
		<div class="sure">申请退款原因（单选）</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>

				</div>
				<div class="iptt">不想要了</div>

			</div>
		</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>
				</div>
				<div class="iptt">临时有事</div>

			</div>
		</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>
				</div>
				<div class="iptt">重复购买</div>

			</div>
		</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>
				</div>
				<div class="iptt">下单产品选择错误</div>

			</div>
		</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>
				</div>
				<div class="iptt">食品质量问题</div>

			</div>
		</div>

		<div class="yuanying">
			<div class="yuanyingg"></div>
			<div class="yuanyinggg">

				<div class="ipt">
					<div class="daxiao"></div>
				</div>
				<div class="iptt">配餐机机器故障

				</div>
			</div>

			<div class="yuanying">
				<div class="yuanyinggx"></div>
				<div class="yuanyinggg">

					<div class="ipt">
						<div class="daxiao"></div>
					</div>
					<div class="iptt">其他</div>

				</div>
			</div>

			<div class="tijiao">
				<input name="" type="button" class="anniu" value="提交申请" />

			</div>

			   <script type="text/javascript">
				
		
   var falg = true;
				$('.ji').click(function() {
					if (falg) {
						$(this).addClass('gouxuan');
						falg = false;
					} else {
						$(this).removeClass('gouxuan');
						falg = true;
					}
				});
				var gouxuan = true;
				$('.daxiao').click(function() {
					if (gouxuan) {
						$(this).addClass('gouxuann');
						gouxuan = false;
					} else {
						$(this).removeClass('gouxuann');
						gouxuan = true;
					}
				});
				$('.anniu').click(function() {
					var a = 0;
					for (var i = 0; i < $('.daxiao').length; i++) {
						if ($('.daxiao').eq(i).is('.gouxuann')) {
							a = 1;
						}
					}
					if (a == 0) {
						$('.txtk').show();
					}
				});
				$('.txtk_kzzz').click(function() {
					$('.txtk').fadeOut("slow");
				});
				$(function() {
						$('.txtk_kzzz').click(function() {
							$(window).unbind('scroll');
						})
					});
				
				$('.anniu').click(function() {
					var b = 0;
					for (var c = 0; c < $('.ji').length; c++) {
						if ($('.ji').eq(c).is('.gouxuan')) {
							b = 1;
						}
					}
					$(window).scroll(function() {
						$(this).scrollTop(0)
					});
					if (b == 0) {
						$('.tsxz').show();
					}
				});
				$('.tsxz_kzzz').click(function() {
					$('.tsxz').fadeOut("slow");
				});
				
				$(function() {
						$('.tsxz_kzzz').click(function() {
							$(window).unbind('scroll');
						})
					});
					$('.anniu').click(function(){
						
						
					});
						</script>

	</body>

</html>