<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/Selectschool.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/Selectschool.js"></script>
		<title>选择大厦</title>
	</head>
	<body>
		<script>
/*$(document).ready(function(e) {
	$("#txt").keyup(function(){
		var txtvalue=$("#txt").val();
		$("table tr:gt(0)").css("display","none");
		$("table tr:gt(0):contains("+txtvalue+")").show();
		});
});*/

		</script>
		<div class="top">
			<a href="index.html"><img src="../img/imagey/on.png" /></a>
			<span>选择地址</span>
			<a href="Selectcity.html?live">
				<div class="you">
					<div class="youz">
					</div>
					<div class="youy"><img src="../img/imagey/returnx.png"/></div>
				</div>
			</a>
		</div>
		
		 <div class="toop">
		   	<img src="../img/imagey/fadadd.png" >
		   	<input id="txt" name=""type="text" value="搜索地址"/>
	   </div>
		<div class="dingwei">
			<img src="../img/imagey/dingwei.png"/>
			<span>附近机柜</span>
		</div>
		<div class="qu">
			 <table class="content">
			 <!-- <tr>
			    <td class="xiaoqu">浙江大学</td>
			  </tr>
			  <tr>
			    <td class="xiaoqu">浙江大学</td>
			  </tr>-->
		  	</table>
		  	 <table class="allContent">
			  <!-- <tr>
			    <td class="xiaoqi">西湖区</td>
			  </tr>
			  <tr>
			    <td class="xiaoqu">浙江大学</td>
			  </tr>
			  <tr>
			    <td class="xiaoqu">浙江大学</td>
			  </tr>
			  <tr>
			    <td class="xiaoqu">浙江大学</td>
			  </tr>-->
			</table>
		</div>
	</body>
</html>
