<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>微信--设置密码</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/setpwd.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/setPwd.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.json.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="main">
	       <div class="title"><a href="javascript:void(0);" class="gotoback"><img src="../img/image/return.png" alt="返回" /></a>设置密码</div>
	       <div class="xline"></div>  
			<div class="onepwdbox">
				<input type="password" class="onepwd" placeholder="请输入6位数字密码"/>
				<p class="onets"></p>
			</div>
			<div class="twopwdbox">
				<input type="password" class="twopwd" placeholder="确认新密码"/>
				<p class="twots"></p>
			</div>
			<div class="btn">确认提交</div>
			<!-- 设置成功弹窗 -->
			<div class="success none"><img src="../img/image/success.jpg" alt=""></div>
	</body>
</html>
<script type="text/javascript">

</script>
