<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title>微信--使用说明</title>
		<link type="text/css" rel="stylesheet" href="../css/common.css" />
		<link type="text/css" rel="stylesheet" href="../css/useexplain.css" />
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.touchSlider.js" type="text/javascript" charset="utf-8"></script>  <!-- 滑动 -->
	</head>
	<body class="main">
		<div class="order_content">
			<div class="title">
				<a href="mybalance.html"><img src="../img/image/return.png" alt="返回" /></a>
				使用说明
			</div>
			<div class="splitLine"></div>    <!-- 分割线  -->
			<!-- 说明  start -->
			<div class="explainbox">
			<p class="problem">Q1:怎么获得优惠券？</p>
				<ul class="problemul">
					<li class="problemli">
						代金券可以在一次消费中抵扣一部分消费金额,每笔订单限用一张代金券.
					</li>
					<li class="problemli">
						充值优惠券可点击购买相应充值券,进行余额的充值.
					</li>
				</ul>
			</div>
			<!-- 说明 end-->
			<div class="splitLine"></div>    <!-- 分割线  -->
		</div>
	</body>
</html>
<script type="text/javascript">

</script>
