<!DOCTYPE html>
<html>
	<head>
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/useRedpacket.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/useRedpacket.js"></script>
		<title>使用红包</title>
	</head>
	<body>
		<div class="top">
			<img src="../img/images/return2.png" />
			<span class="info">使用说明</span>
		</div>
		<div class="question">
			<p>Q1:怎样获得优惠券</p>
			<ul>
				<li>代金券可以在一次消费中抵扣一部分消费金额,每笔订单限用一张代金券.</li>
				<li>充值优惠券可点击购买相应充值券,进行余额的充值.</li>
			</ul>
		</div>
		<div class="tanchuang" style="display: block;">
			<p>
				<img src="../img/images/know.png" />
			</p>
		</div>
	</body>
</html>
