<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="textml; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<meta name="format-detection" content="telephone=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/verification.css" />
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.json.js"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/verification.js"></script>
		<script src="../js/getwxopenid_index.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="bod">
		<div class="top">
			<img src="../img/imagey/return2.png" />
			<span>手机验证</span>
		</div>
		<div class="Vbackground">
			<div class="sendout">发送短信验证码至<span>187****5123</span></div>
			<div class="obtain">
				<div class="obtaino">
					<div class="obtainon"><input name="" type="text" class="obtainon_input" /></div>
					<div class="huoqu">获取验证码</div>
				</div>
			</div>
			<div class="success">
				<div class="complete">
					<input name="" type="button" class="completee" value="完成验证" />
				</div>
			</div>
		</div>

	</body>

</html>